.dayWrapper {
  position: 'relative';
}

.day {
  width: 36px;
  height: 36px;
  font-size: 0.75rem;
  margin: 0 2px;
  color: inherit;
}

.nonCurrentMonthDay {
  color: rgba(0, 0, 0, 0.38);
}

.highlightNonCurrentMonthDay {
  color: #676767;
}

.leftHighlight {
  background: #9933cc;
  color: #fff;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
}

.rightHighlight {
  background: #9933cc;
  color: #fff;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.rangeHighlight {
  background: #9933cc;
  color: #fff;
  opacity: 60%;
}
