.destinationDivider {
  position: relative;
  display: block;
  height: 2px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 60px;
  width: 80%;
  border-top: 2px dashed #9933cc;
}

.dividerStart {
  display: block;
  position: absolute;
  left: -6px;
  top: -6px;
  height: 12px;
  width: 12px;
  background: #9933cc;
  border-radius: 50%;
}

.dividerStop {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -6px;
  top: -6px;
  height: 12px;
  width: 12px;
  background: #cf0000;
  border-radius: 50%;
}

.d33 {
  left: 33%;
}

.d66 {
  left: 66%;
}

.dividerEnd {
  display: block;
  position: absolute;
  right: -6px;
  top: -6px;
  height: 12px;
  width: 12px;
  background: #9933cc;
  border-radius: 50%;
}
