.flightDestinationsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.destinationContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100px;
  max-width: 200px;
}

.dividerAndDirectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.direct {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.2;
  margin-left: -6px;
  color: #00a640;
}

.stops {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.2;
  margin-left: -6px;
  color: #a60000;
}
