.cardContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  transition: width 0.3s, height 0.3s, transform 0.3s;
}

.cardContainer:hover .cardOverlay {
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  /* background-color: #ffffff;
  opacity: 75%; */
}

.cardContainer:hover .cardOverlayFAB {
  transform: rotate(-180deg);
}

.cardContainer:hover .cardOverlayContent {
  display: block;
}

.cardImage {
  border-radius: 8px;
  width: 100%;
  /* height: auto; */
  min-height: 200px;
  object-fit: cover;
}

.cardDetailsContainer {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 4px;
}

.cardDetailsCityName {
  font-size: 1.3em;
}

.cardDetailsFrom {
  font-weight: 200;
  font-size: 0.8em;
}

.cardDetailsCost {
  font-style: bold;
  font-size: 1.1em;
}

/* .cardButtonContainer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  align-content: end;
  justify-content: center;
  text-align: center;
} */

.cardButtonContainer {
  position: absolute;
  top: 5px;
  width: 100%;
  align-content: start;
  justify-content: center;
  text-align: center;
}

.cardOverlay.inactive {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 100%;
  overflow: hidden;
  width: 100%;
  height: 55px;
  transition: 0.5s ease;
}

.cardOverlayFAB {
  transition: transform 5s;
}

.cardOverlay.active {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.75);
  /* background-color: #ffffff; */
  /* opacity: 75%; */
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
}

.cardOverlay.active .cardOverlayFAB {
  transition: 0.5s;
  transform: rotate(-180deg);
}

.cardOverlay.active .cardOverlayContent {
  display: block;
}

.cardOverlayContent {
  display: none;
}
