.filterContainer {
  margin: 4px;
  padding: 10px;
  display: block;
}

.filterOption {
  box-shadow: 0 2px 0 #9933cc;
  display: inline;
}

.filterOption:hover {
  box-shadow: none;
  cursor: pointer;
}
